<div class="container-fluid" id="one">
    <div class="row">
        <div class="card">
            <div class="card-header" id="two">
                <h1>YOUR PROFILE</h1>
            </div>
            <div class="card-body">
                <p>User Id : {{profiledata.userId}}</p>
                <p>User Name : {{profiledata.userName}}</p>
                <p>User Age : {{profiledata.age}}</p>
                <p>Email Id : {{profiledata.emailId}}</p>
                <button class="btn btn-dark" type="submit" (click)="back()">GO BACK</button>
            </div>
        </div>
    </div>
</div>
