<div class="container-fluid" id="one">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="jumbotron" id="two">
                <h1 class="text-center" [ngStyle]="{'color':'violet'}">Sign Up Page</h1>
                <p [ngStyle]="{'font-weight':'bold'}" id="three">(*)Fields are mandatory</p>
                <form #regForm="ngForm" (ngSubmit)="Register(regForm)" id="three">
                    <div class="form-group">
                        <label for="username">*User Name</label>
                        <input type="text" class="form-control" id="username" name="username" required
                            placeholder="Enter your name" ngModel #username="ngModel">
                        <span *ngIf="username.touched && !username.valid">User name is
                            required</span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="age">*Age</label>
                        <input type="text" class="form-control" id="age" name="age" required
                            placeholder="Enter your age" ngModel #age="ngModel">
                        <span *ngIf="age.touched && !age.valid">Age must be between 0 to 100
                            years</span>
                    <br/>
                    </div>
                    <div class="form-group">
                        <label for="email">*Email</label>
                        <input type="text" class="form-control" placeholder="Email" name="email" ngModel email required #email="ngModel">
                        <span *ngIf="email.touched && !email.valid">Please enter valid email id!</span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="password">*Password</label>
                        <input type="password" class="form-control" id="password" name="password" required
                            placeholder="Enter your password" ngModel #password="ngModel">
                        <span *ngIf="password.touched && !password.valid">Password is
                            required</span>
                    </div>
                    <br/>
                    <button class="btn btn-primary" type="submit" id="book"
                        [disabled]="!regForm.valid">Register</button><br />
                    <span class="text-success" *ngIf="result" [ngStyle]="{'font-weight':'bold'}">Registration Successful!!</span>
                    <div *ngIf="valid">
                        <button class="btn btn-info" (click)="hello()">Login Page</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>